@import "tailwindcss";
@plugin "tailwind-scrollbar" {
	nocompatible: true;
	preferredstrategy: "pseudoelements";
}
@custom-variant dark (&:where(.dark, .dark *));

:root {
	--background: #121417;
	--foreground: #ffffff;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	color: var(--foreground);
}

.container {
	width: 100%;
	max-width: 1440px;
	padding: 12px 40px;
}

/* #menu__toggle:checked ~ .menu__btn > span {
	rotate: 45deg;
} */

/*
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
} */
